[Unit]
Description=LGTV Chum Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Environment="PATH={{BIN_DIR}}:/usr/bin:/usr/sbin"
ExecStart={{BIN_DIR}}/lgtv-chum
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target